@import "~bulma/sass/utilities/_all";

$navbar-background-color: $black-ter;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: 769px;

$footer-background-color: $black;
$footer-padding: 0.5rem;

button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.svg-data {
  display: none;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
