@import "~bulma/sass/utilities/_all";

$navbar-background-color: $black-ter;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: 769px;

$footer-background-color: $black;
$footer-padding: 0.5rem;

// for iPhone browser's safe area
html {
  padding-top: constant(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

// for Windows browser's scroll bar
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

button, a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.svg-data {
  display: none;
}

@import "~bulma";
@import "~primevue/resources/themes/saga-green/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
